body {
    background-color: #f6f6f6;
}

.graph-panel {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #fbfbfb;
}

.graph {
    width: 100%;
}

.plus-button {
    height: 447px;
}

.flat-raised-card {
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.off-white {
    background-color: #fbfbfb;
}

@media only screen and (min-device-width: 480px) {
    /* define desktop styles*/
    .centered-square {
        height: 40%;
        top: 30%;
    }
}

@media only screen and (max-device-width: 480px) {
    /* define mobile styles*/
    .centered-square {
        height: 20%;
        top: 40%;
    }

    .graph {
        height: 490px;
    }
}
