<div class="panel clearfix flat-raised-card off-white graph-panel">
    <!--League Dropdown-->
    <!--Currency #1 Dropdown-->
    <section class='col-xs-12 col-lg-6'>
        <label for="buyCurrency">Currency you Have</label>
        <select id="buyCurrency" ng-model="buyCurrency" ng-options="currency.name for currency in currencies track by currency.id" ng-change="switchCurrency()"></select>
    </section>
    <!--Currency #2 Dropdown-->
    <section class='col-xs-12 col-lg-6'>
        <label for="buyCurrency">Currency you Want</label>
        <select id="sellCurrency" ng-model="sellCurrency" ng-options="currency.name for currency in currencies track by currency.id" ng-change="switchCurrency()"></select>
    </section>
    <!--Graph-->
    <section id="{{ ::cardId }}" class="graph"></section>
</div>
